{% extends "doctors/base.html" %}

{% block page_title %}
Doctor Dashboard
{% endblock %}

{% block header %}
Doctor Dashboard
{% endblock %}

{% block content %}

<div class="grid grid-cols-3 gap-6">


    <!-- TODAY TOKENS -->
    <div class="bg-white rounded-xl shadow p-6">
        <h2 class="text-gray-500 text-sm">Today's Tokens</h2>
        <p class="text-3xl font-bold mt-2">{{ today_tokens|default:0 }}</p>
    </div>

    <!-- WAITING -->
    <div class="bg-white rounded-xl shadow p-6">
        <h2 class="text-gray-500 text-sm">Waiting Patients</h2>
        <p class="text-3xl font-bold mt-2 text-yellow-600">
            {{ waiting_tokens|default:0 }}
        </p>
    </div>

    <!-- SERVING -->
    <div class="bg-white rounded-xl shadow p-6">
        <h2 class="text-gray-500 text-sm">Currently Serving</h2>
        <p class="text-3xl font-bold mt-2 text-blue-600">
            {{ serving_token|default:"None" }}
        </p>
    </div>


</div>

<!-- QUEUE TABLE -->

<div class="bg-white rounded-xl shadow p-6 mt-8">


    <h2 class="text-lg font-semibold mb-4">
        Patient Queue
    </h2>

    <table class="w-full text-sm">

        <thead class="border-b text-gray-500">
            <tr>
                <th class="text-left py-2">Token</th>
                <th class="text-left py-2">Patient</th>
                <th class="text-left py-2">Status</th>
                <th class="text-left py-2">Action</th>
            </tr>
        </thead>

        <tbody>

            {% for token in tokens %}

            <tr class="border-b">

                <td class="py-2 font-semibold">
                    {{ token.display_token}}
                </td>

                <td>
                    {{ token.patient.name }}
                </td>

                <td>

                    {% if token.status == "waiting" %}
                    <span class="text-yellow-600 font-medium">Waiting</span>

                    {% elif token.status == "in_service" %}
                    <span class="text-blue-600 font-medium">In Service</span>

                    {% elif token.status == "completed" %}
                    <span class="text-green-600 font-medium">Completed</span>

                    {% endif %}

                </td>

                <td class="space-x-2">

                    <!-- CALL BUTTON -->
                    {% if token.status == "waiting" %}
                    <form method="post" action="{% url 'dashboard:doctor_call_token' token.id %}" class="inline">
                        {% csrf_token %}
                        <button class="bg-blue-600 text-white px-3 py-1 rounded text-xs">
                            Call
                        </button>
                    </form>
                    {% endif %}


                    <!-- COMPLETE BUTTON -->
                    {% if token.status == "in_service" %}
                    <form method="post" action="{% url 'dashboard:doctor_complete_token' token.id %}" class="inline">
                        {% csrf_token %}
                        <button class="bg-green-600 text-white px-3 py-1 rounded text-xs">
                            Complete
                        </button>
                    </form>
                    {% endif %}


                    <!-- SKIP BUTTON -->
                    {% if token.status != "completed" %}
                    <form method="post" action="{% url 'dashboard:doctor_skip_token' token.id %}" class="inline">
                        {% csrf_token %}
                        <button class="bg-red-500 text-white px-3 py-1 rounded text-xs">
                            Skip
                        </button>
                    </form>
                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>


</div>

{% endblock %}