{% extends "hospitals/base.html" %}

{% block page_title %}
Hospital Staff
{% endblock %}

{% block content %}

<div class="flex justify-between mb-6">

    <h2 class="text-2xl font-semibold">
        Receptionists
    </h2>

    <a href="/hospitals/staff/add/" class="bg-[#1E3A8A] text-white px-4 py-2 rounded-lg">
        Add Receptionist
    </a>

</div>


<div class="bg-white rounded-xl shadow p-6">

    {% for staff in receptionists %}

    <div class="flex justify-between border-b pb-4 mb-4">

        <div>

            <p class="font-semibold">
                {{ staff.first_name }}
            </p>

            <p class="text-sm text-gray-500">
                {{ staff.email }}
            </p>

        </div>

        <div>

            <a href="/hospitals/staff/{{ staff.id }}/disable/" class="text-red-600 text-sm">
                Disable
            </a>

        </div>

    </div>

    {% empty %}

    <p class="text-gray-500">
        No receptionists available.
    </p>

    {% endfor %}

</div>

{% endblock %}