# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
ENV/
*.env

# Django
*.log
db.sqlite3
media/
staticfiles/
static/
media/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Node (if used in frontend)
node_modules/

# Docker
docker-compose.override.yml