<!doctype html>
<html>

<head>
    <title>Login | MedQueue</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex items-center justify-center bg-gray-100">

    <form method="post" class="bg-white p-6 rounded-xl shadow w-full max-w-sm space-y-4">
        {% csrf_token %}

        <h2 class="text-2xl font-bold text-center text-blue-600">
            MedQueue Login
        </h2>

        <input name="username" placeholder="Username" class="w-full border px-3 py-2 rounded" required>

        <input name="password" type="password" placeholder="Password" class="w-full border px-3 py-2 rounded" required>

        <button class="w-full bg-blue-600 text-white py-3 rounded-lg text-lg">
            Login
        </button>
    </form>

</body>

</html>